*{
    box-sizing: border-box;
}
body{
    background-color: #7bdaf3;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.notes{
    margin: 20px;
    background-color: #fff;
    height: 400px;
    width: 400px; 
}

.notes .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem; 
}
.notes .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.notes .main {
    height: 100%;
    width: 100%;
}
.notes textarea {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-family: inherit;
    cursor:text;
}

