*{
    box-sizing: border-box;
}
body{
    background-color: #7bdaf3;
    font-family: "poppins", sans-serif;
    display: flex;
    padding-top: 3rem;
    flex-wrap: wrap;
    margin: 0; 
}
.note{
    margin:20px ;
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgb(0,0,0,0.1);
    height: 400px;
    width: 400px; 
}

.note .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem; 
}
.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.note .main {
    background-color:#eee ;
    height: 400px;
    overflow: hidden;
    width: 100%;
}
.note textarea {
    border: none;
    outline: none;
    height: 400px;
    width: 100%; 
    /* margin: 20px; */
    font-family: inherit;
    cursor:text;
}
.note .hidden{
    display: none;
}
.addBtn{
    margin: 2rem auto;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius:3px ;
    background-color:#9ec862;
    position: fixed;
    top: 1rem;
    cursor: pointer;
    right: 1rem;
}
